<dialog
  id="edit-event-dialog"
  class="w-100 h-100 p-5 border border-2 position-relative rounded-5 rounded"
>
  <div class="d-flex flex-column-reverse h-100 w-100 flex-lg-row"></div>
  <span
    class="cross-hover position-absolute end-0 top-0 icon-link-hover text-4xl d-flex justify-content-center align-content-center"
    onclick="closeDialog(this)"
    style="height: 50px; width: 50px"
    >&times;</span
  >
</dialog>
